{deps, [
    {erlydtl,       ".*", {git, "git://github.com/voxoz/erlydtl.git", "HEAD"}},
    {n2o,           ".*", {git, "git://github.com/5HT/n2o",                "HEAD"}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
